---
layout: default
---

<div class="home">

  {% for icon in site.data.icons %}
    <div class="post">
      <div class="body">
        <div class="title">{% if icon.title.size > 0 %}{{ icon.title }}{% else %}&nbsp;{% endif %}</div>
        <p>{{ icon.icon }}</p>
        <div class="expand">
          <input
                  type="text"
                  readonly
                  onfocus="this.select();"
                  onmouseup="return false;"
                  value="{{ icon.icon | escape | textilize }}">
        </div>
      </div>
    </div>
  {% endfor %}

</div>
